<!doctype html>
<html>
	<head>
		<title>Task 1 activity</title>
		<link rel="preload" as="image" href="{{ url_for('static', filename='1015-2200x1400.webp') }}">
	</head>
	<body>
		<h1>Which metric/s has a bad performance on this page?</h1>
		<img
			src="{{ url_for('static', filename='1015-2200x1400.webp') }}"
			alt="Task 1 illustration"
			fetchpriority="high"
			width="600"
			height="400"
		/>
		<p>
			After you identify the metric, please fix it and run Lighthouse again
			(take screenshots of the report before and after the fix).
		</p>
	</body>
</html>